/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  /* we eventually want to share this value with the bookmark panel, which is
     currently using --arrowpanel-padding */
  --editbookmarkdialog-padding: 1.25em;
}

tree[is="places-tree"] > treechildren::-moz-tree-cell {
  /* ensure we use the direction of the website title / url instead of the
   * browser locale */
  unicode-bidi: plaintext;
}

.places-tooltip-title {
  /* ensure we use the direction of the website title instead of the
   * browser locale */
  unicode-bidi: plaintext;
}

.toolbar-drop-indicator {
  position: relative;
  z-index: 1;
}

.placesTree {
  appearance: none;
  margin: 0;
  border: 0;
}

/* Apply crisp rendering for favicons at exactly 2dppx resolution */
@media (resolution: 2dppx) {
  #bookmarksChildren,
  .sidebar-placesTreechildren,
  .placesTree > treechildren {
    image-rendering: -moz-crisp-edges;
  }
}

#searchFilter {
  max-width: 23em;
}

.places-tooltip-box {
  display: block;
}

#placesDownloadsTorWarning:not(.downloads-visible) {
  display: none;
}
