#leftBox {
  background-image: url('chrome://branding/content/icon256.png');
  background-position: right top;
  background-size: 180px;
}

#rightBox {
  background-size: auto;
  padding-top: 32px;
}

#contributeDesc {
  display: none;
}

#communityDesc {
  display: none;
}

#trademark {
  font-size: xx-small;
  text-align: center;
  color: #999999;
  margin-block: 10px;
}

#bottomBox > hbox:not(#newBottom) {
  display: none;
}
