<richlistitem id="category-connection"
              class="category"
              value="paneConnection"
              helpTopic="prefs-connection"
              data-l10n-id="tor-connection-settings-category"
              data-l10n-attrs="tooltiptext"
              align="center"
              hidden="true">
  <image class="category-icon"/>
  <label class="category-name" flex="1" data-l10n-id="tor-connection-settings-heading"></label>
</richlistitem>
